<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<p>Get your greeting <a href="/hello">here</a></p>
<p>Get your sample <a href="/sample">here</a></p>

<h1> Test </h1>
<p th:text="${test}"/>
<p th:text="${fluxMap}"/>
<h1> HTML Map Table</h1>
<tr th:each="e : ${fluxMap}">
    <td th:text="${e}"></td>
</tr>
<h1>My List Example</h1>
<tr th:each="user : ${userList}">
    <td th:text="${user.firstName}"/>
</tr>
<h1>My Enumeration Example </h1>
<!--
Enumeration Methods (idx)
    * index: the current iteration index, starting with 0 (zero)
    * count: the number of elements processed so far
    * size: the total number of elements in the list
    * even/odd: checks if the current iteration index is even or odd
    * first:  checks if the current iteration is the first one
    * last: checks if the current iteration is the last one
-->
<tr th:each="e, idx :${userList}">
    <td th:text="${idx.count}"/>
    <td th:text="${idx.even}"/>
    <td th:text="${e.firstName}"/>
    <tr/>
</tr>
</body>
</html>